[Unit]
Description=The PHP 5.6 FastCGI Process Manager
Documentation=man:php-fpm5.6(8)
After=network.target

[Service]
Type=notify
PIDFile=/run/php/php5.6-fpm.pid
ExecStart=/usr/sbin/php-fpm5.6 --allow-to-run-as-root --fpm-config /etc/php/5.6/fpm/php-fpm.conf --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
